**/.git/
**/*.pyc
README.md
Dockerfile
docker-compose.yml
.dockerignore
.gitignore
celerybeat.pid
/static/

/au.*/
/be.*/
/br.*/
/ca.*/
/ch.*/
/com.*/
/edu.*/
/et.*/
/eu.*/
/gov.*/
/info.*/
/io.*/
/org.*/
/pt.*/
/ru.*/
/tr.*/
/uk.*/
/za.*/
