-r requirements.txt

behave==1.2.5
coveralls==2.1.2
django-debug-toolbar==2.2
factory-boy==2.8.1
fake-factory==0.7.2
faker==4.0.3
httpretty==0.8.14
pytest-benchmark==3.0.0
pytest-cov==2.5.1
pytest==3.6.0
pytest-django==3.2.1
jedi==0.16.0
