-r requirements.txt

behave==1.2.6
coveralls==3.3.1
django-debug-toolbar==5.1.0
factory-boy==3.3.3
faker==37.1.0
flake8==7.2.0
httpretty==1.1.4
pytest-benchmark==5.1.0
pytest==8.3.5
pytest-django==4.11.1
jedi==0.19.2
