version: '2'
services:
  elasticsearch:
    image: elasticsearch
    ports:
      - 9200:9200

  rabbitmq:
    image: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672

  postgres:
    image: postgres
    command: /bin/bash -c "sed -i -e 's/max_connections.*/max_connections = 5000/' /var/lib/postgresql/data/postgresql.conf && sed -i -e 's/#log_min_duration_statement = .*/log_min_duration_statement = 0/' /var/lib/postgresql/data/postgresql.conf && /docker-entrypoint.sh postgres"
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: share

  beat:
    build: .
    command: python manage.py celery beat -l DEBUG
    depends_on:
      - postgres
      - rabbitmq
    links:
      - rabbitmq
      - postgres
      - elasticsearch
    volumes:
      - ./:/code
    environment:
      DATABASE_HOST: postgres
      BROKER_URL: amqp://guest:guest@rabbitmq:5672/
      ELASTICSEARCH_URL: http://elasticsearch:9200/

  worker:
    build: .
    command: python manage.py celery worker -l DEBUG
    depends_on:
      - postgres
      - rabbitmq
      - web
    links:
      - rabbitmq
      - postgres
      - web
      - elasticsearch
    volumes:
      - ./:/code
    environment:
      DATABASE_HOST: postgres
      BROKER_URL: amqp://guest:guest@rabbitmq:5672/
      SHARE_API_URL: http://web:8000/
      ELASTICSEARCH_URL: http://elasticsearch:9200/

  flower:
    build: .
    command: python manage.py celery flower
    depends_on:
      - postgres
      - rabbitmq
    links:
      - rabbitmq
      - postgres
    ports:
      - 5555:5555
    environment:
      DATABASE_HOST: postgres
      BROKER_URL: amqp://guest:guest@rabbitmq:5672/

  monitor:
    build: .
    command: python manage.py monitor
    depends_on:
      - postgres
      - rabbitmq
    links:
      - rabbitmq
      - postgres
    volumes:
      - ./:/code
    environment:
      DATABASE_HOST: postgres
      BROKER_URL: amqp://guest:guest@rabbitmq:5672/

  web:
    build: .
    command: python manage.py runserver --noreload 0.0.0.0:8000
    ports:
      - 8000:8000
    depends_on:
      - postgres
      - rabbitmq
    links:
      - postgres
      - rabbitmq
    volumes:
      - ./:/code
    environment:
      DATABASE_HOST: postgres
      BROKER_URL: amqp://guest:guest@rabbitmq:5672/
