arrow==0.8.0
bcrypt==2.0.0
celery==3.1.23
colorlog==2.7.0
dateparser==0.4.0
django==1.9.7
django[bcrypt]==1.9.7
django-celery==3.1.17
django-extensions==1.6.7
django-allauth==0.25.2
django-guardian==1.4.4
django-oauth-toolkit==0.10.0
# Django 1.9 compatibility
# django-postgres-fuzzycount==0.1.6
git+https://github.com/stephenmcd/django-postgres-fuzzycount.git@686053fe130c742b9bb0cce338d2aa7eb24fb91c
# Fix the Choices for TypedModel.type when using Django 1.9
# django-typed-models==0.5.0
git+https://github.com/craigds/django-typed-models.git@7c1eaec06e4a5db188b58cee5d86fae6897208b1
djangorestframework==3.3.3
feedparser==5.2.1
flower==0.9.1
furl==0.4.95
gevent==1.1.1
jsonpatch==1.14
jsonschema==2.5.1
# Kombu with the ability to specify queue priority
# TODO: Remove this when Kombu has a stable release including commit c20f854
git+git://github.com/mfraezz/kombu.git@v3.0.36
lxml==3.6.0
nameparser==0.4.0
psycopg2==2.6.1
psycogreen==1.0
requests==2.10.0
rfc3987==1.3.6
ujson==1.35
django-model-utils==2.5
django-filter==0.13.0
docopt==0.6.2
pyyaml==3.11
uwsgi==2.0.13
werkzeug==0.11.10
xmltodict==0.10.2
# TODO May need to downgrade
elasticsearch==2.3.0
