bcrypt==3.1.3  # Apache 2.0
beautifulsoup4==4.4.1  # MIT
bleach==1.4.3  # Apache 2.0
boto3==1.4.4  # Apache 2.0
celery==4.1.0  # BSD 3 Clause
colorlog==2.7.0  # MIT
cryptography==1.9 # BSD or Apache 2.0
dateparser==0.4.0  # BSD
django-allauth==0.31.0  # MIT
django-cors-headers==2.0.2  # MIT
django-extensions==1.7.8  # MIT
django-filter==1.0.2  # BSD
django-include==0.2.1  # MIT
django-model-utils==2.6.1  # BSD
django-oauth-toolkit==0.12.0  # BSD
django-prettyjson==0.3.0  # BSD 3 Clause
django-revproxy==0.9.13  # MPL 2.0
django-typed-models==0.6.0  # BSD 3 Clause
django==1.11.4  # BSD 3 Clause
django[bcrypt]==1.11  # BSD 3 Clause
djangorestframework==3.6.2  # BSD
docopt==0.6.2  # MIT
elasticsearch==5.4.0  # Apache 2.0
furl==0.4.95  # None
gevent==1.2.2  # MIT
graphene==1.4  # MIT
graphql-core==1.1  # MIT
jsonschema==2.5.1  # MIT
lxml==3.6.0  # BSD
markdown==2.6.8  # BSD
nameparser==0.4.0  # LGPL
networkx==2.1  # BSD
newrelic==2.86.3.70  # newrelic APM agent, Custom License
pendulum==1.2.5  # MIT
pillow==4.0.0  # PIL Software License:
psycogreen==1.0  # BSD
psycopg2==2.7.3  # LGPL with exceptions or ZPL
pycountry==1.20  # LGPL 2.1
PyJWE==1.0.0 # Apache 2.0
pyyaml==3.11  # MIT
raven==6.1.0  # BSD
requests==2.10.0  # Apache 2.0
stevedore==1.21.0  # Apache 2.0
ujson==1.35  # BSD
werkzeug==0.11.10  # BSD
xmltodict==0.10.2  # MIT


# djangorestframework-jsonapi==2.2.0  # MIT
# Allows custom-rendered IDs, hiding null values, and including data in error responses
git+git://github.com/cos-forks/django-rest-framework-json-api.git@v2.2.0+cos1

# TODO: When graphene-django doesn't break on inherited fields with choices (https://github.com/graphql-python/graphene-django/pull/156)
# graphene-django==1.3  # MIT
git+git://github.com/aaxelb/graphene-django.git@be20450a663073add7c7ace437cccaf2832cf4f3

# django-celery-beat==1.0.1  # BSD 3 Clause
# Contains a fix for handling disabled tasks that still has not been release
git+git://github.com/celery/django-celery-beat@f014edcb954c707cb7628f4416257b6a58689523
