bcrypt==3.2.0  # Apache 2.0
beautifulsoup4==4.9.3  # MIT
celery==5.1.2  # BSD 3 Clause
colorlog==5.0.1  # MIT
django-allauth==0.44.0  # MIT
django-celery-beat==2.2.1  # BSD 3 Clause
django-cors-headers==3.7.0  # MIT
django-extensions==3.1.3  # MIT
django-filter==2.4.0  # BSD
django-model-utils==4.1.1  # BSD
django-oauth-toolkit==1.2.0  # BSD
django-prettyjson==0.4.1  # BSD 3 Clause
django-revproxy==0.10.0  # MPL 2.0
django==3.2.5  # BSD 3 Clause
djangorestframework==3.12.4  # BSD
docopt==0.6.2  # MIT
elasticsearch==5.4.0  # Apache 2.0
furl==2.1.2  # None
gevent==22.10.2  # MIT
jsonschema==3.2.0  # MIT
lxml==4.9.1  # BSD
kombu==5.1.0  # BSD 3 Clause
nameparser==1.0.6  # LGPL
networkx==2.5.1  # BSD
newrelic==6.4.4.161  # newrelic APM agent, Custom License
pendulum==2.1.2  # MIT
pillow==8.3.1  # PIL Software License
psycogreen==1.0.2  # BSD
psycopg2==2.9.5  # LGPL with exceptions or ZPL
python-dateutil==2.8.1  # Apache 2.0
PyJWE==1.0.0 # Apache 2.0
pyyaml==6.0  # MIT
raven==6.10.0  # BSD
requests==2.25.1  # Apache 2.0
stevedore==3.3.0  # Apache 2.0
xmltodict==0.12.0  # MIT


# djangorestframework-jsonapi==4.2.1  # MIT
# Allows custom-rendered IDs, hiding null values, and including data in error responses
git+https://github.com/cos-forks/django-rest-framework-json-api.git@v4.2.1+cos0

