<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Login Failed</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <div class="jumbo" style="padding-top: 25px">
            <div class="center-block" style="text-align: center"><img class="logo" src="{% static 'img/share.png' %}"/></div>
            <h1 style="font-size: 48px; text-align: center; font-weight: 300;">
                Login Unsuccessful
            </h1>
            <h4 style="text-align: center; font-weight: 300;">
                If this should not have occurred and the issue persists, please report it to <a href="mailto:support@osf.io">support@osf.io</a>.
            </h4>
            <h3 style="text-align: center; font-weight: 300;">
                <a href="/">Return to SHARE</a>
            </h3>
        </div>
    </body>
</html>
