{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
<style>
section, table {
  padding-left: 2em;
}
form {
  display: flex;
  flex-direction: column;
}
</style>
{% endblock %}

{% block content %}
<h1>{% trans "schedule full (re)ingest" %}</h1>
<section>
  <h2>for source config "{{ source_config.label }}"</h2>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="source_config_label" value={{source_config.label}} />
    <input type="submit" value="{% trans "yum yum" %}" />
  </form>
</section>
{% endblock %}
