body {
    margin: 0;
    padding: 1rem;
    background-color: #edc;
}

.Browse {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.618rem;
}

.Browse dfn {
    font-weight: bold;
}

.Browse__article {
    display: flex;
    flex-direction: column;

    /*max-width: 31rem;*/
    margin: 0;
    border: solid 0.382rem rgba(0,0,0,0.191);
}

.Browse__article > header {
    display: flex;
    gap: 0.618rem;
    padding: 0.618rem;
}

.Browse__article > footer {
    padding: 0.618rem;
}

.Browse__statement_set {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

.Browse__statement {
    display: flex;
    flex-direction: row;
    gap: 0.382rem;

    margin: 0;
    border: solid 1px rgba(0,0,0,0.382);
}

.Browse__statement:not(:first-child) {
    border-top: 0;
}

.Browse__value_set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    margin: 0;
    padding: 0;
    gap: 0.382rem;
}

.Browse__value {
    display: flex;
    flex-direction: row;

    margin: 0;
    /*border: 1px dotted #000;*/
    border: dotted 1px;
    gap: 0.382rem;
}

/*
.Browse :focus-within {
    backdrop-filter: hue-rotate(var(--hue-rotate-step));
}

.Browse :focus {
    border: 5px dotted #e28;
}
*/

.VisibleNest {
    padding: 0.191rem 0.382rem;
    filter: hue-rotate(0.191turn);
    backdrop-filter: hue-rotate(0.191turn);
}
