{% if value.literal_value %}
    <q>{{value.literal_value}}</q>
{% elif value.full_uri %}
    <a href="/browse///{{value.full_uri}}">{{value.display_uri}}</a>
{% endif %}

{% if value.nested_statement_set %}
    <ul class="Browse__statement_set">
        {% for nested_predicate, nested_value_set in value.nested_statement_set %}
            <li class='Browse__statement VisibleNest'>
                {% include 'browse/_statement.html' with predicate=nested_predicate value_set=nested_value_set only %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
