<article>
    <header>
        <a rel='bookmark' href='#myown:permalink'><dfn id='myown:pid'>myown:permalink</dfn></a>
        <a href='#rdf:type'>is a</a>
        <a href='#myown:Object'>thing that works how i expect because i made it myself</a>
        <aside>rdf triple: <code>(myown:permalink, rdf:type, myown:Object)</code></aside>
    </header>
    <p>
        <a href='#dct:title'>dct:title</a>
        <q>this is a title</q>
        <aside>rdf triple: <code>(myown:permalink, dct:title, "this is a title")</code></aside>
    </p>
    <p>
        <a href='#foo:doodl'>foo:doodl</a>
        <q>this whole thing is an html-serialized rdf graph, with uri references
            represented as &lt;a&gt; (anchor) tags, literal values represented as
            &lt;q&gt; (quote) tags, and blank references represented as &lt;ul&gt;
            (unordered list) tags containing further statements
        </q>
        <aside>rdf triple: <code>(myown:permalink, foo:doodl, "this whole thing is an htm...")</code></aside>
    </p>
    <p>
        <a href='#myown:linkable-property'>myown:linkable-property</a>
        <a href='#myown:linkable-value'>myown:linkable-value</a>
        <aside>rdf triple: <code>(myown:permalink, myown:linkable-property, myown:linkable-value)</code></aside>
    </p>
    <footer>
        <address>record from <a href='#source@repo.example'>source@repo.example</a></address>
    </footer>
</article>

