<article class='Browse__ul'>
    <header>
        <a rel='bookmark' href='#osfio:fubar'><dfn id='osfio:fubar'>osfio:fubar</dfn></a>
        <a href='#rdf:type'>is-a</a>
        <a href='#osf:Project'>osf:Project</a>
        <!--aside>rdf triple: <code>(osfio:fubar, rdf:type, osf:Project)</code></aside-->
    </header>
    <ul>
        <li>
            {% include 'browse/_statement.html' with predicate='dct:title' obj='my project!!1!' %}
            <a href='#dct:title'>dct:title</a>
            <ul><li><q>my project!!1!</q></li></ul>
            <!--aside>rdf triple: <code>(osfio:fubar, dct:title, "my project!!1!")</code></aside-->
        </li>
        <li>
            <a href='#dct:description'>dct:description</a>
            <ul><li><q>blah blah blah look at me i have things to say</q></li></ul>
            <!--aside>rdf triple: <code>(osfio:fubar, dct:description, "blah blah blah look at me i have things to say")</code></aside-->
        </li>
        <li>
            <a href='#myown:linkable-property'>myown:linkable-property</a>
            <ul><li><a href='#myown:linkable-value'>myown:linkable-value</a></li></ul>
            <!--aside>rdf triple: <code>(osfio:fubar, myown:linkable-property, myown:linkable-value)</code></aside-->
        </li>
    </ul>
    <footer>
        <address class='Browse__statement'>record from <a href='#source@repo.example'>source@repo.example</a></address>
    </footer>
</article>

<article class='Browse__ul'>
    <header>
        <a rel='bookmark' href='#myown:baqam'><dfn id='myown:baqam'>myown:baqam</dfn></a>
        <a href='#rdf:type'>is-a</a>
        <a href='#myown:Object'>thing that works how i expect because i made it myself</a>
        <!--aside>rdf triple: <code>(myown:baqam, rdf:type, myown:Object)</code></aside-->
    </header>
    <ul>
        <li>
            <a href='#dct:title'>dct:title</a>
            <ul><li><q>this is a title</q></li></ul>
        </li>
        <!--aside>rdf triple: <code>(myown:baqam, dct:title, "this is a title")</code></aside-->
        <li>
            <a href='#foo:doodl'>foo:doodl</a>
            <ul><li><q>this whole thing is an html-serialized rdf graph, with uri references
                represented as &lt;a&gt; (anchor) tags, literal values represented as
                &lt;q&gt; (quote) tags, and blank references represented as &lt;ul&gt;
                (unordered list) tags containing further statements
            </q></li></ul>
        </li>
        <!--aside>rdf triple: <code>(myown:baqam, foo:doodl, "this whole thing is an htm...")</code></aside-->
        <li>
            <a href='#foo:keyword'>foo:keyword</a>
            <ul>
                <li><q>glob</q></li>
                <li><q>blob</q></li>
                <li><q>blib</q></li>
                <li><q>blip</q></li>
                <li><q>clip</q></li>
                <li><q>clop</q></li>
                <li><q>cloy</q></li>
                <li><q>ploy</q></li>
                <li><q>play</q></li>
                <li><q>pyay</q></li>
            </ul>
        </li>
        <li>
            <a href='#myown:linkable-property'>myown:linkable-property</a>
            <ul>
                <li><a href='#myown:linkable-value'>myown:linkable-value</a></li>
                <li><a href='#myown:nuther-linkable-value'>myown:nuther-linkable-value</a></li>
            </ul>
            <!--aside>
                rdf triples:
                <code>
                myown:baqam myown:linkable-property myown:linkable-value,
                                                        myown:nuther-linkable-value .
                </code>
            </aside-->
        </li>
        <li>
            <a href='#myown:nested-data-structure'>myown:nested-data-structure</a>
            <ul>
                <li>
                    <ul>
                        <li>
                            <a href='#myown:nested-fieldy'>myown:nested-fieldy</a>
                            <ul>
                                <li><q>lolwat</q></li>
                                <li><q>no</q></li>
                            </ul>
                        </li>
                        <li>
                            <a href='#myown:nested-fieldx'>myown:nested-fieldx</a>
                            <ul><li><time datetime='2202-02-22'>2202-02-22</time></li></ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <a href='#myown:nested-fieldz'>myown:nested-fieldz</a>
                            <ul><li><a href='#myown:third-linkable-value'>myown:third-linkable-value</a></li></ul>
                        </li>
                        <li>
                            <a href='#myown:nested-fieldy'>myown:nested-fieldy</a>
                            <ul>
                                <li><q>blahbloo bla blooh</q></li>
                                <li><q>zoomooboofoo</q></li>
                            </ul>
                        </li>
                        <li>
                            <a href='#myown:nested-fieldx'>myown:nested-fieldx</a>
                            <ul><li><time datetime='2202-02-22'>2202-02-22</time></li></ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <!--aside>
            rdf triples (turtle):
            <code>
            myown:baqam myown:nested-data-structure [
                myown:nested-fieldz myown:third-linkable-value ;
                myown:nested-fieldy "blahbloo bla blooh" ;
                myown:nested-fieldx "2202-02-22"^^xsd:date ;
            ] .
            </code>
        </aside-->
    </ul>
    <footer>
        <address>record from <a href='#source@repo.example'>source@repo.example</a></address>
    </footer>
</article>

