<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel='stylesheet' href='{% static "css/browse.css" %}' />
    </head>
    <body>
        <section class='Browse'>
            <h1>browse</h1>
            {% for record in metadata_records %}
                {% include 'browse/_article.html' with record=record only %}
            {% endfor %}
        </section>
        <section class='Glossolalia'>
            <h2>glossolalia</h2>
            <p>a <dfn><a href='http://localhost:5000/aaaa'>osfio:aaaa</a></dfn> is a thing</p>
            <p>a <dfn><a href='http://localhost:5000/foobl'>osfio:foobl</a></dfn> is a thing</p>
            <p>when we say <dfn><a href='http://localhost:5000/vocab/foo/doodl'>foo:doodl</a></dfn> we mean some stuff
                like what they described in <a href='#foo'>foo</a></p>
            <p>when we say <dfn><a href='http://localhost:5000/vocab/foo/'>foo</a></dfn> we are talking about
                a bunch of defined terms used widely by somesuch and folk, which we have decided to embrace.</p>
        </section>
    </body>
</html>
