.BrowseWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.618rem;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /*background-color: #fedbae;*/
    background-color: hsl(var(--hue-turn), 100%, 81%);
    /* backdrop-filter: hue-rotate(var(--hue-turn)); */
}

.BrowseWrapper dfn {
    font-weight: bold;
}

.Browse__card {
    --card-color: hsl(var(--hue-turn), 100%, 81%);
    display: flex;
    flex-direction: column;
    padding: 0.382rem 0.618rem;
    border: solid 1px rgba(0,0,0,0.191);
    background-color: var(--card-color);
    box-shadow: -0.191rem 0.191rem hsl(from var(--card-color) h s l / 38%);
    margin: 0 0 0.618rem 0.618rem;
    /*max-width: 31rem;*/
    transition-property: height, width;
    transition-duration: 1.618s;
}

details.Browse__card > summary::before {
    content: '‽';
    display: inline-block;
    transition-property: rotate;
    transition-duration: 1.618s;
    margin-right: 0.618rem;
}

details.Browse__card[open] > summary::before {
    rotate: var(--hue-turn);
}

.BrowseWrapper > .Browse__card {
    margin: 1rem;
}

.Browse__card > header {
    display: flex;
    flex-direction: column;
    gap: 0.618rem;
    padding: 0.618rem;
}

.Browse__card > header > :first-child {
    align-self: stretch;
    margin: 0;
}

.Browse__card > footer {
    padding: 0.618rem;
}

dl.Browse__twopleset {
    display: grid;
    grid-template-columns:
        [twople-pred] auto
        [twople-obj] auto
    ;
    grid-auto-flow: row;
    gap: 0.382rem;
    /*
    display: flex;
    flex-direction: column;
    */

    margin: 0;
    padding: 0;
}

dl.Browse__twopleset > dt {
    grid-column: twople-pred;
    display: flex;
    flex-direction: column;
    gap: 0.191rem;
}

dl.Browse__twopleset > dd {
    grid-column: twople-obj;
}

.Browse__twople {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.382rem;
    margin: 0;
    /*
    border: solid 1px rgba(0,0,0,0.382);
}

.Browse__twople:not(:first-child) {
    border-top: 0;
    */
}

.Browse__objectset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    margin: 0;
    padding: 0;
    gap: 0.382rem;
}

.Browse__object {
    display: flex;
    flex-direction: row;
    margin: 0;
    /*border: 1px dotted #000;*/
    /*border: dotted 1px;*/
    gap: 0.382rem;
}

.Browse__blanknode {
    padding: 0.191rem;
    border: dotted 0.191rem rgba(0,0,0,0.382);
}

.Browse__literal {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    gap: 0.382rem;
    background-color: hsl(from var(--card-color) h s 91%);
    padding: 0.191rem;
    /*border: dotted 0.191rem rgba(0,0,0,0.382);*/
}

.Browse__literal > q {
    flex-basis: 100%;
}
/*
.Browse :focus-within {
    backdrop-filter: hue-rotate(var(--hue-rotate-step));
}

.Browse :focus {
    border: 5px dotted #e28;
}
*/
